*	{
	padding: 0px;
	margin: 0px;
}

a:link {
    text-decoration: none;
    color: #F0F0F0;
}

/* visited link */
a:visited {
    text-decoration: none;
    color: #F0F0F0;
}

/* mouse over link */
a:hover {
    text-decoration: underline;
    color: white;
}

/* selected link */
a:active { color: black; }

body	{
	font-family: Helvetica;
}

h1	{text-align: center;
	color: #F0F0F0;
	}

p	{text-align: center;
	padding: 15px;}

hr.info	{
	border-width: 1px;
	color: black;
	width: 75%;
	margin: auto;
}

hr.split	{border-width: 0px;
			clear: both;}

footer {
	width: 100%;
	background:#F0F0F0;
	text-align: center;
	bottom: 0;
	margin-bottom: -15px; 
}

.feature	{
	width: 500px;
	height: 225px;
	margin: auto;
	background-color: #333;
	opacity: .8;

}

h2.light	{
	text-align: center;
	color: #333;
	}

h2.dark	{
	text-align: center;
	}
	
h2.about 	{
		text-align: center;
		color: #333;
		font-size: 3em;
		margin-bottom: 20px;
}

hr.blackLine 	{
	color: black;
	border-width: 10px;
    border-style: solid;
    opacity: .7;	
}

h1.featureh1	{
	text-align: center;
	color: #F0F0F0;
	font-size: 4em;
	padding-top: 50px;
	}

h2.featureh2	{
	text-align: center;
	font-size: 2em;
	color: #F0F0F0
	}

td.alignLeft 		{text-align: left;
					padding-left: 10px;}
td.alignRight 		{text-align: right;}
td.tdWidth			{width: 3em;
					padding: 7px;}
td.verticalAlign	{padding-top: 25px;}

td.seeMore	{color: #333;
			font-size: 1.2em;
			padding: 7px;
			border: 2px solid;
			border-radius: 10px;
			border-color: black;
			text-align: center;
			}

table.center	{
		padding: 5px;
		margin: auto;
}

table.nav	{width: 100%;
		text-align: right;
	    border-collapse: collapse;
	    font-size: 28px;
	    position: fixed;
	    background-color: transparent;
	    border-bottom-right-radius: 5px;
	    border-bottom-left-radius: 5px;
	    color: #F0F0F0;
	    font-weight: bold;
	    padding: 45px;
	    z-index: 1;
		}


/* Background Header Image */
.header{
    background-image: url('drums.jpg');
    width:2048px;
    height:1536px;
}

.smallHeader{
    background-image: url('background.png');
    width:1000px;
    height:362px;
}

.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 750px;
}

td.colorChangeLight:hover {
	background-color: #F0F0F0;
	color: #333;
}


td.colorChangeDark:hover {
	background-color: #333;
	color: #F0F0F0
}

h2.spaceH2	{padding-top: 10px;}
table.spaceTable	{padding-bottom: 20px;}